@import '../../style/vars.less';

.webcode-filetree-project {
  &__info {
    padding: 5px 10px;
  }
  &__name {
    font-size: 14px;
    font-weight: bold;
    color: @fileColor;
    text-transform: uppercase;
  }
}
