@import '../../style/vars.less';

.webcode-filetree-file {
  position: relative;
  padding: 6px 0;
  padding-right: 10px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @fileColor;

  &:hover .webcode-filetree-options {
    display: flex;
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center center;
    vertical-align: middle;
  }

  &__name {
    display: inline-block;
    font-size: 14px;
    margin-left: 8px;
    appearance: none;
    border: none;
    background: none;
    user-select: none;
    min-width: 50px;
    color: inherit;
    &&--hidden {
      width: 0;
      visibility: hidden;
    }
  }

  &__error {
    position: absolute;
    background-color: red;
    color: #ffffff;
    padding: 4px 6px;
    z-index: 1;
    top: 100%;
    font-size: 14px;
    max-width: 180px;
    white-space: normal;
  }
}
