.webcode-filetree-file {
  padding: 8px;
  cursor: pointer;
  user-select: none;

  &__icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  &__name {
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    margin-left: 8px;
  }

  &&--active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}