.webcode-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__toolbar {
    flex-shrink: 0;
    height: 40px;
    background-color: #272822;
  }

  &__container {
    flex-grow: 1;
    display: flex;
  }

  &__extensions {
    flex-shrink: 0;
    width: 60px;
    background-color: lighten(#272822, 5%);
  }

  &__filetree {
    flex-shrink: 0;
    width: 260px;
    background-color: #272822;
  }

  // code & terminal
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__code {
    flex-grow: 1;
  }

  &__terminal {
    flex-shrink: 0;
    height: 300px;
    background: #000;
  }

  &__footbar {
    flex-shrink: 0;
    height: 30px;
    background-color: #272822;
  }

  &__resizer {}

  &__resizer--vertical {
    width: 12px;
    margin: 0 -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: col-resize;
    background: padding-box rgb(17, 21, 24);

    &:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
  }
}